<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilocss/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Monoton&display=swap"
                rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d4193cf05.js" crossorigin="anonymous"></script>
        <title>FECHAS</title>
        <meta name="keywords" content="banda, música, rock, astros, fechas, recitales, tickets, entradas">
        <meta name="description" content="Seguí la gira de la banda y compra tus tickets.">
</head>

<body>
        <header>
                <div class="headerColor">
                        <h1 class="titleIndex p-4 d-lg-none">FECHAS</h1> <!-- TITUALO -->
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark navPrueba mb-5"><!-- NAV BAR -->
                        <div class="container-fluid fixed-top navPrueba align-items-start">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse offset-3 offset-lg-0" id="navbarNav">
                                        <a class="me-4" href="../index.html">
                                                <img class="d-none d-lg-inline" src="../imagenes/logo.png"
                                                        alt="astros logo" width="40" height="40">
                                        </a>
                                        <ul class="navbar-nav fs-5 me-3">
                                                <li class="nav-item mt-2 mb-2 mt-lg-0 mb-lg-0 pe-lg-3 ps-lg-0">
                                                        <a class="nav__menu nav__menu--subrrayado" aria-current="page" href="../index.html">INICIO</a>
                                                </li>
                                                <li class="nav-item pe-3 mb-2 mb-lg-0">
                                                        <a class="nav__menu nav__menu--subrrayado" 
                                                                href="./musica.html">MÚSICA
                                                        </a>
                                                </li>
                                                <li class="nav-item pe-3 mb-2 mb-lg-0">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="./galeria.html">GALERÍA
                                                        </a>
                                                </li>
                                                <li class="nav-item pe-3 ps-5 mb-2 mb-lg-0 ps-lg-0">
                                                        <a class="nav__menu--activo"
                                                                href="#">FECHAS
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="./sobrenosotros.html">SOBRE NOSOTROS
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav>
                <!----------------------------------------- NAV BAR -->
        </header>

        <main>
                <h1 class="titulo-fecha">PRÓXIMAS FECHAS</h1>
                <div class="container-fluid" id="contenedorFechas">
                        <h2 class="fuente-terciaria chica">GIRA ALMA Y VIDA 2022</h2>
                        <section id="fechas">
                                <p>VIE, ENERO 7<span>BUENOS AIRES</span><strong>TICKETS</strong></p>
                                <p>SAB, ENERO 15 <span>CORRIENTES</span> <strong>TICKETS</strong></p>
                                <p>DOM, ENERO 30 <span>PARANÁ</span> <strong>TICKETS</strong></p>
                                <p>SAB, FEBRERO 5 <span>ROSARIO</span> <strong>TICKETS</strong></p>
                                <p>VIE, FEBRERO 25 <span>CORDOBA</span> <strong>TICKETS</strong></p>
                                <p>SAB, MARZO 1 <span>BAHIA BLANCA</span><strong>TICKETS</strong></p>
                                <p>DOM, MARZO 9 <span>BUENOS AIRES</span> <strong>TICKETS</strong></p>
                                <p>VIE, MARZO 14 <span>BUENOS AIRES</span><strong>TICKETS</strong></p>
                                <p>SAB, MARZO 22 <span>GUALEGUAYCHU</span> <strong>TICKETS</strong></p>
                                <p>VIE, ABRIL 1 <span>CONCEPCIÓN</span> <strong>TICKETS</strong></p>
                                <p>SAB, ABRIL 9 <span>MONTEVIDEO</span><strong>TICKETS</strong></p>
                                <p>DOM, ABRIL 17 <span>BUENOS AIRES</span><strong>TICKETS</strong></p>
                        </section>
                </div>
        </main> <!-- TABLA DE FECHAS -->

        <footer>
                <section class="footer__grid position-static"> <!-- FOOTER NAV -->
                        <div class="navegacion footer__nav footer__redes--hover footer__redes">
                                <h4 class="fs-4">navegacion</h4>
                                <ul class="fs-5">
                                        <li class="nav-item">
                                                <a class="nav__menu" aria-current="page" href="/index.html">INICIO</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav__menu" href="/views/musica.html">MÚSICA</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav__menu" href="/views/galeria.html">GALERÍA</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav__menu text-decoration-underline" href="#">FECHAS</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav__menu" href="/views/sobrenosotros.html">SOBRE NOSOTROS</a>
                                        </li>
                                </ul>
                        </div>
                        <div class="copyr">
                                <img class="imgnone" src="/imagenes/logo.png" height="150" width="150" alt="logo astros">
                                <h4 class="fs-5">© 2021 Copyright: Astros</h4>
                        </div>
                        <div class="redes footer__redes footer__redes--hover">
                                <div>
                                        <h4 class="fs-2">redes</h4>
                                </div>
                                <div>
                                        <a href="https://www.instagram.com/astrosmusica/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="https://www.youtube.com/channel/UCbcg0nM3cWnWp17Ox-6AtCg" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                        </a>
                                        <a href="https://twitter.com/astrosmusica" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                        </a>
                                </div>
                        </div>
                </section>
        </footer> <!-- FOOTER -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
</body>

</html>