<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilocss/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Monoton&display=swap"
                rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d4193cf05.js" crossorigin="anonymous"></script>
        <title>GALERIA</title>
        <meta name="keywords" content="banda, música, rock, fotos, galeria">
        <meta name="description" content="Imagenes de los últimos videos de la banda.">
</head>

<body>
        <header>
                <h1 class="titleIndex p-4">GALERIA</h1> <!-- TITULO -->
                <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarNav">
                                        <ul class="navbar-nav fs-3 me-3 mb-5">
                                                <li class="nav-item mt-2 mt-lg-0 pe-lg-5 ps-lg-3">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="../index.html">INICIO</a>
                                                </li>
                                                <li class="nav-item pe-5">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="./musica.html">MÚSICA</a>
                                                </li>
                                                <li class="nav-item ps-5 mt-1 mb-2 mt-lg-0 mb-lg-0 pe-lg-5 ps-lg-0">
                                                        <a class="nav__menu--activo" href="#">GALERÍA</a>
                                                </li>
                                                <li class="nav-item pe-5">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="./fechas.html">FECHAS</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav__menu nav__menu--subrrayado"
                                                                href="./sobrenosotros.html">SOBRE NOSOTROS</a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav> <!---------------------- NAV BAR -->
        </header>
        <section class="container-fluid d-lg-none d-flex justify-content-center my-5">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img1.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de Joel Mendieta">
                                        <div class="card-body">
                                                <h5 class="card-title">Joel Mendieta en "Largo camino"</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img2.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de Claudio della Vecchia">
                                        <div class="card-body">
                                                <h5 class="card-title">Cluadio della Vecchia en "Largo camino"</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img3.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de grabacion video Largo camino">
                                        <div class="card-body">
                                                <h5 class="card-title">Imagen de la grabación 2021</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img4.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de grabacion guitarras Joel Mendieta">
                                        <div class="card-body">
                                                <h5 class="card-title">Dia de grabacion guitarra principal</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img5.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de Nicolas Cribioli tocando el bajo">
                                        <div class="card-body">
                                                <h5 class="card-title">Nicolás Cribioli grabacion de bajo</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img6.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de dia de grabacion de guitarras">
                                        <div class="card-body">
                                                <h5 class="card-title">Claudio grabando guitarras para "Alma y Vida"</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img7.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto en el estudio Nicolas y Claudio">
                                        <div class="card-body">
                                                <h5 class="card-title">En el estudio Nicolas y claudio realizando mezclas</h5>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card bg-transparent text-center text-white">
                                        <img src="/imagenes/imagenesgaleria/img8.jpg" width="270" height="300" class="card-img-top rounded-3" alt="Foto de nicolas en Largo camino">
                                        <div class="card-body">
                                                <h5 class="card-title galeria__texto">nicolas y su bajo grabacion 2021</h5>
                                        </div>
                                </div>
                        </div>
                </div>
        </section> <!-------------------------------- GALERIA MOBILE -->
        <section>
                <div class="galeria d-none d-lg-grid">
                        <div class="galeria__img1--trans">
                                <img class="galeria__img1" src="../imagenes/imagenesgaleria/img1.jpg"
                                        alt="Foto de Joel Mendieta">
                                <p class="galeria__texto text-center mt-4 fs-5">Joel Mendieta en "Largo camino"
                                </p>
                        </div>
                        <div class="galeria__img2--trans">
                                <img class="galeria__img2" src="../imagenes/imagenesgaleria/img2.jpg"
                                        alt="Foto de Claudio della Vecchia">
                                <p class="galeria__texto text-center mt-4 fs-5">Cluadio della Vecchia en "Largo camino"
                                </p>
                        </div>
                        <div class="galeria__img3--trans">
                                <img class="galeria__img3" src="../imagenes/imagenesgaleria/img3.jpg"
                                        alt="Foto de grabacion video Largo camino">
                                <p class="galeria__texto text-center mt-4 fs-5">Imagen de la grabación 2021
                                </p>
                        </div>
                        <div class="galeria__img4--trans">
                                <img class="galeria__img4" src="../imagenes/imagenesgaleria/img4.jpg"
                                        alt="Foto de grabacion guitarras Joel Mendieta">
                                <p class="galeria__texto text-center mt-4 fs-5">Dia de grabacion guitarra principal
                                </p>
                        </div>
                        <div class="galeria__img5--trans">
                                <img class="galeria__img5" src="../imagenes/imagenesgaleria/img5.jpg"
                                        alt="Foto de Nicolas Cribioli tocando el bajo">
                                <p class="galeria__texto text-center mt-4 fs-5">Nicolás Cribioli grabacion de bajo
                                        "largo camino"
                                </p>
                        </div>
                        <div class="galeria__img6--trans">
                                <img class="galeria__img6" src="../imagenes/imagenesgaleria/img6.jpg"
                                        alt="Foto de dia de grabacion de guitarras">
                                <p class="galeria__texto text-center mt-4 fs-5">Claudio grabando guitarras para "Alma y
                                        Vida"
                                </p>
                        </div>
                        <div class="galeria__img7--trans">
                                <img class="galeria__img7" src="../imagenes/imagenesgaleria/img7.jpg"
                                        alt="Foto en el estudio Nicolas y Claudio">
                                <p class="galeria__texto text-center mt-4 fs-5">En el estudio Nicolas y claudio
                                        realizando mezclas
                                </p>
                        </div>
                        <div class="galeria__img8--trans">
                                <img class="galeria__img8" src="../imagenes/imagenesgaleria/img8.jpg" alt="Foto de nicolas en Largo camino">
                                <p class="galeria__texto text-center mt-4 fs-5">nicolas y su bajo grabacion 2021
                                </p>
                        </div>
                </div>
        </section> <!-- --------------------------------IMAGENES GALERIA -->
        <footer class="footer__bg">
                <section class="container">
                        <div class="d-flex justify-content-center">
                                <h4>REDES</h4>
                        </div>
                        <div class="d-flex justify-content-center fs-1 footer__redes footer__redes--hover">
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.instagram.com/astrosmusica/" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                        </a>
                                </div>
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.youtube.com/channel/UCbcg0nM3cWnWp17Ox-6AtCg"
                                                target="_blank">
                                                <i class="fab fa-youtube"></i>
                                        </a>
                                </div>
                                <div><a class="ps-1 footer__redes footer__redes--hover"
                                                href="https://twitter.com/astrosmusica" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                        </a>
                                </div>
                        </div>
                </section>
        </footer> <!----------------------------------- FOOTER -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
</body>

</html>