$color-texto:rgba(255, 255, 255, 0.692);
$color-violeta:rgba(60, 27, 70, 0.466);

$text-shadow: -4px 4px rgba(179,179,179,.4), 2px -2px rgba(77, 77, 77, 0.7);  
$text-shadow2: 0 0 15px #FFF, -40px -40px 0px rgba(206,89,55,0);

$modal-content-bg: $color-violeta;




