<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilocss/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Monoton&display=swap"
                rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d4193cf05.js" crossorigin="anonymous"></script>
        <title>MÚSICA</title>
        <meta name="keywords" content="banda, música, rock, videos, videoclip, youtube">
        <meta name="description" content="Escuchá nuestros ultimos lanzamientos de nuestro canal de Youtube.">
</head>

<body>
        <header>
                <h1 class="titleIndex p-4">MÚSICA</h1> <!-- TITULO -->
                <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarNav">
                                        <ul class="navbar-nav fs-3 me-3">
                                                <li class="nav-item mt-2 mt-lg-0 pe-lg-5 ps-lg-3">
                                                        <a class="nav__menu nav__menu--subrrayado" href="../index.html">INICIO</a>
                                                </li>
                                                <li class="nav-item ps-5 mt-1 mb-2 mt-lg-0 mb-lg-0 pe-lg-5 ps-lg-0">
                                                        <a class="nav__menu--activo" href="#">MÚSICA</a>
                                                </li>
                                                <li class="nav-item pe-5">
                                                        <a class="nav__menu nav__menu--subrrayado" href="./galeria.html">GALERÍA</a>
                                                </li>
                                                <li class="nav-item pe-5">
                                                        <a class="nav__menu nav__menu--subrrayado" href="./fechas.html">FECHAS</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav__menu nav__menu--subrrayado" href="./sobrenosotros.html">SOBRE NOSOTROS</a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav> <!-- NAV BAR -->
        </header>
        </ul>
        <div class="container-fluid d-flex justify-content-center justify-content-lg-start">
                <h2 class="h2Videos fs-2">Ultimos Lanzamientos</h2>
        </div>
        <section class="container-fluid">
                <div class="row">
                        <div class="videosMusica col-12 d-block d-lg-flex">
                                <iframe class="ratio" width="560" height="315"
                                        src="https://www.youtube.com/embed/LrLwTzxcjNg" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <iframe class="ratio mx-lg-3" width="560" height="315"
                                        src="https://www.youtube.com/embed/KircxWWCu_M" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <iframe class="ratio" width="560" height="315"
                                        src="https://www.youtube.com/embed/Xj_1kxAvSJo" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                        </div> <!-- PRIMERA FILA VIDEOS -->
                        <div class="container-fluid d-flex justify-content-center justify-content-lg-start">
                                <h2 class="h2Videos fs-2">Escucha nuestros temas</h2>
                        </div>
                        <div class="videosMusica col-12 d-block d-lg-flex">
                                <iframe class="ratio" width="560" height="315"
                                        src="https://www.youtube.com/embed/fzrMdcHxtm0" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <iframe class="ratio mx-lg-3" width="560" height="315"
                                        src="https://www.youtube.com/embed/dXGeKlEQeOU" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <iframe class="ratio mb-3" width="560" height="315"
                                        src="https://www.youtube.com/embed/2kwLKcrFtAc" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                        </div> <!-- SEGUNDA FILA VIDEOS-->
                </div>
        </section>
        <footer>
                <section class="container">
                        <div class="d-flex justify-content-center">
                                <h4>REDES</h4>
                        </div>
                        <div class="d-flex justify-content-center fs-1 footer__redes footer__redes--hover">
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.instagram.com/astrosmusica/" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                        </a>
                                </div>
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.youtube.com/channel/UCbcg0nM3cWnWp17Ox-6AtCg"
                                                target="_blank">
                                                <i class="fab fa-youtube"></i>
                                        </a>
                                </div>
                                <div><a class="ps-1 footer__redes footer__redes--hover"
                                                href="https://twitter.com/astrosmusica" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                        </a>
                                </div>
                        </div>
                </section>
        </footer> <!-- FOOTER -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
</body>


</html>