<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../estilocss/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Monoton&display=swap"
                rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d4193cf05.js" crossorigin="anonymous"></script>
        <title>SOBRE NOSOTROS</title>
        <meta name="keywords" content="banda, música, rock, integrantes, historia">
        <meta name="description" content="Conocé nuestra historia y quienes integran la banda.">
</head>

<body>
        <header>
                <h1 class="titleIndex p-4">SOBRE NOSOTROS</h1> <!-- TITULO -->
        </header>
        <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav fs-3 me-3">
                                        <li class="nav-item mt-2 mt-lg-0 pe-lg-5 ps-lg-3">
                                                <a class="nav__menu nav__menu--subrrayado" href="../index.html">INICIO</a>
                                        </li>
                                        <li class="nav-item pe-5">
                                                <a class="nav__menu nav__menu--subrrayado" href="./musica.html">MÚSICA</a>
                                        </li>
                                        <li class="nav-item pe-5">
                                                <a class="nav__menu nav__menu--subrrayado" href="./galeria.html">GALERÍA</a>
                                        </li>
                                        <li class="nav-item pe-5">
                                                <a class="nav__menu nav__menu--subrrayado" href="./fechas.html">FECHAS</a>
                                        </li>
                                        <li class="nav-item ps-5 ps-lg-0">
                                                <a class="nav__menu--activo" href="#">SOBRE NOSOTROS</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </nav> <!-- NAV BAR -->
        </section>
        <section class="gridSobrenos">
                <div class="historiaAstros">
                        <h1 class="titleSobre">Historia de Astros</h1>
                        <div class="textoSobre">
                                <p>La banda vio sus inicios en el 2014, originaria de caseros, su formación tenía ya
                                        presentes a Claudio Y Nicolás.</p>
                                <p>En un principio el género abarcaba un rock ochentoso, con grandes influencias en ska,
                                        new wave y rock alternativo.</p>
                                <p>Su primer disco "Astros mmxv" Lanzado en 2015 cuenta con una lista de 5 canciones que
                                        reflejan estas influencias.</p>
                                <p>Lo próximo a lanzar fue en 2017 con el single "perdida en la ciudad", donde el sonido
                                        estaba más enfocado en un hard rock y desde allí la banda encontró una comodidad
                                        en el género.</p>
                                <p>En su última etapa se sumaría como guitarra principal Joel y en batería Matías,
                                        aportando un sonido que daría origen a “alma y vida” pronto a estrenarse.</p>
                        </div>
                </div> <!-- TEXT BOX HISTORIA -->
                <div>
                        <img class="imgClau mt-5" src="../imagenes/sobrenosotros/clau.png"
                                alt="Foto de Claudio della Vecchia">
                </div>
                <div>
                        <img class="imgNico mt-5" src="../imagenes/sobrenosotros/nico.png"
                                alt="Foto de Nicolas Cribioli">
                </div>
                <div>
                        <img class="imgJoel mt-5" src="../imagenes/sobrenosotros/joel.png" alt="Foto de Joel Mendieta">
                </div>
                <div>
                        <img class="imgAndres mt-5" src="../imagenes/sobrenosotros/andres.png"
                                alt="Foto de Matias Alfonso">
                </div> <!-- IMAGENES AL MEDIO -->
                <div class="integrantes">
                        <h1 class="titleSobre">Integrantes</h1>
                        <div class="textoSobre">
                                <p><span class="fst-italic">Claudio della Vecchia</span> : cantante, compositor y
                                        segunda guitarra. En sus inicios fue parte de varios proyectos en los cual se
                                        desempeñaba como guitarrista. Sus influencias en varios géneros lo ayudaron a
                                        crear una gran variedad de estilos al tocar y componer.</p>
                                <p><span class="fst-italic">Nicolás Cribioli</span> : bajista y coros. Autodidacta,
                                        desempeña su rol en la banda con grandes influencias en rock internacional. Sus
                                        comienzos en la banda fueron sus primeras experiencias en la música y dentro de
                                        ella fue perfeccionando su ejecución.</p>
                                <p><span class="fst-italic">Joel Mendieta</span> : primera guitarra. Al ingresar a la
                                        banda trajo con él una gran variedad de estilos que ayudarían a ampliar los
                                        sonidos en guitarra. Sus principales influencias en power metal dan lugar a
                                        grandes solos y arreglos.</p>
                                <p><span class="fst-italic">Matias Alfonso</span> : baterista. Aportando a la banda su
                                        gran experiencia, amplió la variedad de ritmos y logro encontrar una armonía
                                        entre las necesidades de la banda y sus conocimientos. Sus influencias en metal,
                                        punk y rock agregan a la banda un golpe conciso en percusión.</p>
                        </div>
                </div> <!-- TEXT BOX INTEGRANTES -->
        </section>
        <footer>
                <section class="container">
                        <div class="d-flex justify-content-center">
                                <h4>REDES</h4>
                        </div>
                        <div class="d-flex justify-content-center fs-1 footer__redes footer__redes--hover">
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.instagram.com/astrosmusica/" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                        </a>
                                </div>
                                <div>
                                        <a class="me-5 pe-5 footer__redes footer__redes--hover"
                                                href="https://www.youtube.com/channel/UCbcg0nM3cWnWp17Ox-6AtCg"
                                                target="_blank">
                                                <i class="fab fa-youtube"></i>
                                        </a>
                                </div>
                                <div><a class="ps-1 footer__redes footer__redes--hover"
                                                href="https://twitter.com/astrosmusica" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                        </a>
                                </div>
                        </div>
                </section>
        </footer> <!-- FOOTER -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
</body>

</html>